In [1]:
# Importing required packages
import pandas as pd
import numpy as np

In [2]:
# Load the data as a dataframe and setting the header 
crime_data = pd.read_excel("Raw Crime Dataset.xlsx", header=8)

In [3]:
# Checking the shape of the data 
print(crime_data.shape)

# Displaying the top 5 rows 
crime_data.head()

(5658, 12)

,Geography,Crime type,Year,Total Incidents,Rate per 100k population,Percentage change in rate,Unfounded incidents,Total cleared,Total persons charged,Total adult charged,Total youth charged,Total youth not charged
0,Newfoundland and Labrador,Homicide,2000,6.0,1.14,NaN,NaN,5.0,4.0,3.0,1.0,0.0
1,NaN,NaN,2001,1.0,0.19,NaN,NaN,1.0,1.0,1.0,0.0,0.0
2,NaN,NaN,2002,2.0,0.38,NaN,NaN,2.0,2.0,1.0,1.0,0.0
3,NaN,NaN,2003,5.0,0.96,NaN,NaN,4.0,4.0,4.0,0.0,0.0
4,NaN,NaN,2004,2.0,0.39,NaN,NaN,2.0,2.0,2.0,0.0,0.0

In [4]:
# Displaying information about the dataframe, including data types and non-null values
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5658 entries, 0 to 5657
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Geography                  13 non-null     object
 1   Crime type                 246 non-null    object
 2   Year                       5658 non-null   int64
 3   Total Incidents            5634 non-null   float64
 4   Rate per 100k population   5634 non-null   float64
 5   Percentage change in rate  4271 non-null   float64
 6   Unfounded incidents        1464 non-null   float64
 7   Total cleared              5634 non-null   float64
 8   Total persons charged      5634 non-null   float64
 9   Total adult charged        5634 non-null   float64
 10  Total youth charged        5634 non-null   float64
 11  Total youth not charged    5634 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 530.6+ KB

In [5]:
# Counting the number of null values in each column
crime_data.isnull().sum()

Geography                    5645
Crime type                   5412
Year                            0
Total Incidents                24
Rate per 100k population       24
Percentage change in rate    1387
Unfounded incidents          4194
Total cleared                  24
Total persons charged          24
Total adult charged            24
Total youth charged            24
Total youth not charged        24
dtype: int64

In [6]:
# Generating descriptive statistics for numerical columns
crime_data.describe()

,Year,Total Incidents,Rate per 100k population,Percentage change in rate,Unfounded incidents,Total cleared,Total persons charged,Total adult charged,Total youth charged,Total youth not charged
count,5658.000000,5634.000000,5634.000000,4271.000000,1464.000000,5634.000000,5634.000000,5634.000000,5634.000000,5634.000000
mean,2011.000000,3121.351615,168.416834,5.758633,191.981557,1177.325346,850.478701,769.513490,80.965211,87.851615
std,6.633836,9140.666178,326.106041,48.705576,588.407446,3203.767522,2489.379830,2323.253345,260.176243,375.627233
min,2000.000000,0.000000,0.000000,-94.790000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2005.000000,8.000000,2.012500,-10.490000,1.000000,4.000000,2.000000,2.000000,0.000000,0.000000
50%,2011.000000,160.000000,23.505000,-0.650000,13.000000,70.500000,48.000000,42.000000,4.000000,2.000000
75%,2017.000000,1501.000000,196.247500,12.040000,93.500000,590.500000,427.000000,366.750000,30.000000,27.000000
max,2022.000000,122234.000000,3179.420000,1547.380000,7161.000000,30998.000000,25956.000000,23379.000000,3952.000000,5286.000000

In [7]:
# Filling the missing values using the FORWARD FILL method
crime_data[['Geography', 'Crime type']] = crime_data[['Geography', 'Crime type']].ffill()

In [8]:
# Displaying the top 5 rows to check the changes after forward fill
crime_data.head()

,Geography,Crime type,Year,Total Incidents,Rate per 100k population,Percentage change in rate,Unfounded incidents,Total cleared,Total persons charged,Total adult charged,Total youth charged,Total youth not charged
0,Newfoundland and Labrador,Homicide,2000,6.0,1.14,NaN,NaN,5.0,4.0,3.0,1.0,0.0
1,Newfoundland and Labrador,Homicide,2001,1.0,0.19,NaN,NaN,1.0,1.0,1.0,0.0,0.0
2,Newfoundland and Labrador,Homicide,2002,2.0,0.38,NaN,NaN,2.0,2.0,1.0,1.0,0.0
3,Newfoundland and Labrador,Homicide,2003,5.0,0.96,NaN,NaN,4.0,4.0,4.0,0.0,0.0
4,Newfoundland and Labrador,Homicide,2004,2.0,0.39,NaN,NaN,2.0,2.0,2.0,0.0,0.0

In [9]:
# Filter the data for the years 2000 and 2001
filtered_data = crime_data[(crime_data['Year'] == 2000) | (crime_data['Year'] == 2001)]

# Group by 'Crime type' and 'Year', and count the null values in 'Total Incidents' column for each crime type
null_counts = filtered_data.groupby(['Crime type'])['Total Incidents'].apply(lambda x: x.isnull().sum()).reset_index()

# Rename columns for better readability
null_counts.columns = ['Crime type', 'Null Count in Total Incidents']

# Displaying the null counts for 'Total Incidents' grouped by 'Crime type'
null_counts

,Crime type,Null Count in Total Incidents
0,"Assault, level 2, weapon or bodily harm",0
1,Attempted murder,0
2,Counterfeiting,0
3,Facilitate terrorist activity,24
4,Fraud,0
5,Homicide,0
6,"Making, or distribution of child pornography",0
7,Public incitement of hatred,0
8,"Theft $5,000 or under",0
9,"Theft over $5,000",0
10,Total drug violations,0
11,"Total firearms, use of, discharge, pointing",0
12,Total impaired driving,0
13,Total prostitution,0
14,Total robbery,0
15,Total sexual violations against children,0
16,Total theft of motor vehicle,0
17,Total weapons violations,0
18,Trespass at night,0

In [10]:
# List of columns to impute
columns_to_impute = [
    'Total Incidents', 'Rate per 100k population', 'Unfounded incidents', 
    'Total cleared', 'Total persons charged', 'Total adult charged', 
    'Total youth charged', 'Total youth not charged'
]

# Impute 0 for the null values in the specified columns
crime_data[columns_to_impute] = crime_data[columns_to_impute].fillna(0)

# Verify the imputation by checking if there are any null values left in the specified columns
crime_data[columns_to_impute].isnull().sum()

Total Incidents             0
Rate per 100k population    0
Unfounded incidents         0
Total cleared               0
Total persons charged       0
Total adult charged         0
Total youth charged         0
Total youth not charged     0
dtype: int64

In [11]:
# Checking the number of null values in all columns after imputation
crime_data.isnull().sum()

Geography                       0
Crime type                      0
Year                            0
Total Incidents                 0
Rate per 100k population        0
Percentage change in rate    1387
Unfounded incidents             0
Total cleared                   0
Total persons charged           0
Total adult charged             0
Total youth charged             0
Total youth not charged         0
dtype: int64

In [12]:
# Calculate the percentage change and populate the null values
# The pct_change method calculates the percentage change from the previous year
crime_data['Percentage change in rate'] = crime_data['Rate per 100k population'].pct_change() * 100

# Fill the initial value of the 'Percentage change in rate' column with 0
crime_data['Percentage change in rate'].iloc[0] = 0

# Fill the original null values with the calculated percentage change
# The fillna(method='ffill') ensures that the null values in the 'Percentage change in rate' column are 
# filled with the calculated values from the previous step
crime_data['Percentage change in rate'].fillna(method='ffill', inplace=True)

# Round the values to 2 decimal places
crime_data['Percentage change in rate'] = crime_data['Percentage change in rate'].round(2)

C:\Users\SACHIN\AppData\Local\Temp\ipykernel_12828\989527315.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data['Percentage change in rate'].iloc[0] = 0

In [13]:
# Displaying the top 5 rows to check the changes after percentage change calculation and rounding
crime_data.head()

,Geography,Crime type,Year,Total Incidents,Rate per 100k population,Percentage change in rate,Unfounded incidents,Total cleared,Total persons charged,Total adult charged,Total youth charged,Total youth not charged
0,Newfoundland and Labrador,Homicide,2000,6.0,1.14,0.00,0.0,5.0,4.0,3.0,1.0,0.0
1,Newfoundland and Labrador,Homicide,2001,1.0,0.19,-83.33,0.0,1.0,1.0,1.0,0.0,0.0
2,Newfoundland and Labrador,Homicide,2002,2.0,0.38,100.00,0.0,2.0,2.0,1.0,1.0,0.0
3,Newfoundland and Labrador,Homicide,2003,5.0,0.96,152.63,0.0,4.0,4.0,4.0,0.0,0.0
4,Newfoundland and Labrador,Homicide,2004,2.0,0.39,-59.38,0.0,2.0,2.0,2.0,0.0,0.0

In [14]:
# Checking the number of null values in all columns after all processing steps
crime_data.isnull().sum()

Geography                    0
Crime type                   0
Year                         0
Total Incidents              0
Rate per 100k population     0
Percentage change in rate    0
Unfounded incidents          0
Total cleared                0
Total persons charged        0
Total adult charged          0
Total youth charged          0
Total youth not charged      0
dtype: int64